<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/ShoeShack/ShoeShack-backend/page-categories.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:21 GMT -->
<head>
    <meta charset="utf-8">
    <title>ShoeShack Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/admin/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/public/admin/assets/css/main.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/" class="brand-wrap">
                <img src="/public/admin/assets/imgs/theme/logo.png" class="logo"  alt="ShoeShack Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admindashboard" > <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
               
                <li class="menu-item">
                    <a class="menu-link" href="/productlist"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
             </li>
             <li class="menu-item">
                <a class="menu-link" href="/orders"> <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Orders</span>
                </a>
            </li>
                    <li class="menu-item">
                        <a class="menu-link" href="/categorylist"> <i class="icon material-icons md-shopping_cart"></i>
                            <span class="text">Category</span>
                        </a>
                    </li>
                    <li class="menu-item ">
                        <a class="menu-link" href="/coupons"> <i class="icon material-icons md-shopping_cart"></i>
                            <span class="text">Coupons</span>
                        </a>
                    </li>
                   
                    <li class="menu-item ">
                        <a class="menu-link" href="/salesreport"> <i class="icon material-icons md-shopping_cart"></i>
                            <span class="text">Sales Report</span>
                        </a>
                    </li>
                    <li class="menu-item ">
                        <a class="menu-link" href="/customermanagement"> <i class="icon material-icons md-shopping_cart"></i>
                            <span class="text">Customers</span>
                        </a>
                    </li>
                    <li class="menu-item ">
                        <a class="menu-link" href="/adminlogout"> <i class="icon material-icons md-shopping_cart"></i>
                            <span class="text">Logout</span>
                        </a>
                    </li>
                          
                             
            </ul>
            <hr>
            
            </ul>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
      